@inherits CreateClientModalPage

<MudDialog>
    <DialogContent>
        <EditForm Model="input" OnValidSubmit="OnValidSubmitAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <label class="m-auto w-full">
                Nome do Cliente:
                <InputText class="ml-4 text-black px-5 py-1 rounded-sm" @bind-Value="input.Name" placeholder="José dos Anzóis" />
            </label>
            <label class="m-auto w-full">
                Nome do Cliente:
                <InputText class="ml-4 text-black px-5 py-1 rounded-sm" @bind-Value="input.Name" placeholder="José dos Anzóis" />
            </label>




            @if (IsBusy)
            {
                <MudProgressCircular Indeterminate />
            }
            else
            {
                <MudButton OnClick="OnValidSubmitAsync" Color="Color.Primary">Cadastrar</MudButton>
                <MudButton OnClick="Cancel">Cancelar</MudButton>
            }
        </EditForm>
    </DialogContent>
</MudDialog>