<nav class="@className  ">
    <ul class="w-full flex flex-col items-center justify-center gap-10 ">
        <li class="hover:bg-lime-700 px-10 py-3 rounded bg-lime-800 transition transition duration-700">
            <NavLink class="w-full h-full" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="hover:bg-lime-700 px-10 py-3 rounded bg-lime-800 transition transition duration-700">
            <NavLink href="counter" Match="NavLinkMatch.All">
                Counter
            </NavLink>
        </li>
        <li class="hover:bg-lime-700 px-10 py-3 rounded bg-lime-800 transition transition duration-700">
            <NavLink href="weather" Match="NavLinkMatch.All">
                Weather
            </NavLink>
        </li>
        <li class="hover:bg-lime-700 px-10 py-3 rounded bg-lime-800 transition transition duration-700">
            <NavLink href="brands" Match="NavLinkMatch.All">
                Brands
            </NavLink>
        </li>
    </ul>
</nav>

@code{
    [Parameter]
    public string className {get; set;} = string.Empty;
}