@inherits CreateBrandModalPage

<MudDialog>
    <DialogContent>
        <EditForm Model="input" OnValidSubmit="OnValidSubmitAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <label class="m-auto w-full">
                Nome da Marca:
                <InputText class="ml-4 text-black px-5 py-1 rounded-sm" @bind-Value="input.Name" placeholder="Maresia" />
            </label>
            @if (IsBusy)
            {
                <p>Carregando ...</p>
            }
            else
            {
                <MudButton OnClick="OnValidSubmitAsync" Color="Color.Primary">Cadastrar</MudButton>
                <MudButton OnClick="Cancel">Cancelar</MudButton>
            }
        </EditForm>
    </DialogContent>

    <DialogActions>
    </DialogActions>
</MudDialog>


