@page "/marcas"
@inherits HomeBrandsPage

<PageTitle>Marcas</PageTitle>



@if(Brands.Count == 0)
{
    <div class="w-1/3 h-96 m-auto my-auto flex justify-center items-center">
        <MudProgressCircular Indeterminate />
     </div>
}
else
{
    <MudSimpleTable FixedHeader="true"
        Style="overflow-x:auto; height: 400px; width: 600px; margin:auto; margin-top: 50px;">

        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>
                    <MudButton OnClick="OnCreateClickAsync" Variant="Variant.Filled" Color="Color.Info">Nova Marca</MudButton>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var(brand, position) in Brands)
            {
                <tr>
                    <td>@position</td>
                    <td>@brand.Name</td>
                    <td>
                        <MudIconButton OnClick="()=> OnEditClickAsync(brand, position)"
                            Icon="@Icons.Material.Filled.Edit" />

                        <MudIconButton 
                            OnClick="()=> OnDeleteClickAsync(brand.Id, brand.Name)" 
                            Icon="@Icons.Material.Filled.Delete" />
                    </td>
                </tr>
                
            }
        </tbody>
    </MudSimpleTable>        
    
}



